html body{
  background: url(https://i.dailymail.co.uk/1s/2020/11/05/20/35306112-8918801-image-a-4_1604607816563.jpg);
  color: #66BFBF;
}

html div{
  color: #66BFBF;
}

html span{
  color: #ff0099;
}
